* {
    margin:0;
    padding: 0;
}
body {
    color:#8D9092;;
}
.col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 {
    height: 610px;
    padding-top:90px;
}
h2 {
    margin-top:0;
}
.carousel-caption {
    position:static;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left:0;
    height:400px;
    padding: 0;
    text-shadow: none;
}
.element__title {
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.833333px;
    text-transform: uppercase;
    color: #8D9092;
}
.element__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #8D9092;
}
.bold {
    font-weight:bold;
}
.carousel-control {
    color:#8D9092;
}
.carousel-control:focus, .carousel-control:hover {
    color: #6d6f70;
}
.carousel-control.left {
    background-image:none;
}
.carousel-control.right {
    background-image:none;
}
.btn {
    max-width:160px;
    background: #8d9092;
    border-radius:30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    background: #000;
}
.carousel-indicators {
    left:35%;
    bottom:-35px;
}
.carousel-indicators li {
    border: 1px solid #000;
}
.carousel-inner>.active_slide {
    display: block;
}
.carousel-indicators .active_slide {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    background-color: #000;;

}
@media not all, (-webkit-transform-3d) {
.carousel-inner>.item.active_slide {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0;
}
}
@media (max-width:1200px) {
    .carousel-indicators {
        left:43%;
    }
}
@media (max-width:768px) {
    .element__title {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.833333px;
    }
    .element__description {
        font-size: 16px;
        line-height: 25px;
    }
}
@media (max-width:650px) {
    .element__title {
        font-size: 23px;
        line-height: 26px;
        letter-spacing: -0.833333px;
    }
    .element__description {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width:560px) {
    .element__title {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.833333px;
    }
    .element__description {
        font-size: 13px;
        line-height: 18px;
    }
}
@media (max-width:480px) {
    .col-xs-4 {
        height:505px;
    }
    .element__title {
        font-size: 15px;
        line-height: 16px;
        letter-spacing: -0.833333px;
    }
    .element__description {
        font-size: 10px;
        line-height: 11px;
    }
    .carousel-caption {
        height: 316px;
    }
    .btn {
        max-width: 160px;
        font-size: 14px;
        line-height: 16px;
    }
    .btn img {
        width:15px;
    }
}
@media (max-width:385px) {
    .btn {
        max-width: 160px;
        font-size: 11px;
        line-height: 11px;
    }
    .btn img {
        width:12px;
    }
}
@media (max-width:325px) {
    .col-xs-8 {
        width:100%;
    }
    .col-xs-4 {
        width:100%;
    }
    .element__title {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.833333px;
    }
    .element__description {
        font-size: 16px;
        line-height: 25px;
    }
    .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 {
        height: 385px;
        padding-top: 0px;
    }
    .btn {
        max-width: 160px;
        font-size: 14px;
        line-height: 16px;
    }
    .btn img {
        width:15px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        top: 45%;
    }
}